# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
/frontend/coverage

# production
frontend/build

# misc
.DS_Store
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

*.pyc
yolov8*
InceptResNet_v9.json
InceptResNet_v9.weights.h5
InceptResNet_IG_multi_v3.json
InceptResNet_IG_multi_v3.weights.h5
InceptRes_IG_Multi_v4.zip
InceptRes_IG_Multi_v7.zip
InceptRes_IG_Multi_v8f.zip
InceptRes_IG_Multi_v8g.zip
InceptResNet_IG_multi_v2.14.keras
emotions.db
yolo_2_onnx.py
kaggle/working/confusion_matrix_y1_y2.png
kaggle/working/epoch_history_y1_y2.png
kaggle/working/InceptResNet_IG_multi_v8g.json
kaggle/working/InceptResNet_IG_multi_v8g.keras
kaggle/working/InceptResNet_IG_multi_v8g.weights.h5
model4/working/C:/Project/Emotion_dectection/Project-Illumina/InceptResNet_IG_multi_v4.keras
model4/working/confusion_matrix_y1_y2.png
model4/working/epoch_history_y1_y2.png
model4/working/InceptResNet_IG_multi_v4.json
model4/working/InceptResNet_IG_multi_v4.weights.h5
images/Kah Hoe.jpg
images/Kok Tong.jpg
images/Li Ying.jpg
model7/working/InceptResNet_IG_multi_v7.weights.h5
model4/working/Multi-model.png
model7/working/confusion_matrix_y1_y2.png
model7/working/epoch_history_y1_y2.png
model7/working/InceptResNet_IG_multi_v6.keras
model7/working/InceptResNet_IG_multi_v7.json
model7/working/Multi-model.png
model4/working/C:/Project/Emotion_dectection/Project-Illumina/InceptResNet_IG_multi_v4.keras
model4/working/Multi-model.png
model7/working/confusion_matrix_y1_y2.png
model7/working/epoch_history_y1_y2.png
model7/working/InceptResNet_IG_multi_v6.keras
model7/working/InceptResNet_IG_multi_v7.json
model7/working/Multi-model.png
model8f/working/confusion_matrix_y1_y2.png
model8f/working/epoch_history_y1_y2.png
model8f/working/InceptResNet_IG_multi_v8f.json
model8f/working/InceptResNet_IG_multi_v8f.keras
model8f/working/InceptResNet_IG_multi_v8f.weights.h5
model4/working/C:/Project/Emotion_dectection/Project-Illumina/InceptResNet_IG_multi_v4.keras
model4/working/C:/Project/Emotion_dectection/Project-Illumina/InceptResNet_IG_multi_v4.keras
model4/working/C:/Project/Emotion_dectection/Project-Illumina/InceptResNet_IG_multi_v4.keras
model4/working/C:/Project/Emotion_dectection/Project-Illumina/InceptResNet_IG_multi_v4.keras
